@import "fonts";
@import "colors";

.post {
	a {
		color: $owd-blue;

		&:hover {
			color: darken($owd-blue, 10%);
		}
	}
}

a.blog__title--link {
	color: $owd-default-color;

	&:hover {
		color: darken($owd-default-color, 10%);
	}
}

a.blog__categories--link {
	color: $owd-violet;
	font-size: .7rem;
	font-weight: 400;

	&:hover {
		color: lighten($owd-violet, 10%);
	}
}

.blog__featured-image {
	width: 100%;
}

.blog, .post {
	&__author {
		&--line-height {
			line-height: 1.5;
		}

		&-avatar {
			height: 50px;
			width: 50px;
			border-radius: 50%;
			border: 1px solid #AAA;
		}
	}

	&__title {
		margin-bottom: 0;

	}

	&__date {
		margin-top: 0;
		color: #777;
		display: inline-block;
	}

	a {
		&.excerpt--text-decoration {
			color: #777;

			&:hover {
				text-decoration: none !important;
				color: darken(#AAA, 10%);
			}
		}
	}

	.btn {
		border-radius: 0;
		text-transform: uppercase;
		font-size: .85rem;

		&-primary {
			color: #fff;
			background-color: $owd-blue;
			border-color: $owd-blue;

			&:hover {
				background-color: lighten($owd-blue, 10%);
				border-color: lighten($owd-blue, 10%);
			}
		}

		&-outline-owd-green {
			color: $owd-green;
			border-color: $owd-green;

			&:hover {
				color: #fff;
				background-color: $owd-green;
				border-color: $owd-green;
			}
		}

		&-outline-owd-magenta {
			color: $owd-magenta;
			border-color: $owd-magenta;

			&:hover {
				color: #fff;
				background-color: $owd-magenta;
				border-color: $owd-magenta;
			}
		}

		&-outline-owd-violet {
			color: $owd-violet;
			border-color: $owd-violet;

			&:hover {
				color: #fff;
				background-color: $owd-violet;
				border-color: $owd-violet;
			}
		}
	}
}

.post {
	&__excerpt {
		font-size: 1.15rem;
		color: #888;
		line-height: 1.5;
	}
	&__featured-image {
		margin-left: -15px;
		margin-right: -15px;
		height: 300px;
	}

	&__featured-image-caption {
		color: #666;
		font-size: .8rem;
		font-weight: lighter;
	}
}

.postlist {

}

@media all and (min-width: 768px) {
	.blog {
		&__featured-image {
			max-width: 300px;
		}
	}
	.post {
		&__featured-image {
			margin-right: initial;
			margin-left: initial;
		}

		&__featured-image-caption {
			text-align: left;
		}
	}
}

a.blog.post__content.post__content--blue-link {
	color: $owd-blue;

	&:hover {
		color: lighten($owd-blue, 10%);
	}
}






