@import "../../node_modules/bootstrap/scss/bootstrap";
@import "fonts";
@import "colors";

html {
	font-size: 18px;
}

body {
	font-family: $futura-pt, sans-serif !important;
	font-weight: 300;
	line-height: 1.5;
	color: $owd-default-color;
}

a {
	color: $owd-default-color;
}

.btn {
	border-radius: 0;
}

.tag {
	margin-right: 10px;
	padding: 10px;
	border: 1px solid #666;
}

.blog {
	&__featured-image {
		width: 100%;
	}

	&__author-avatar {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		border: 1px solid #AAA;
	}

	&__title {
		margin-bottom: 0;
	}

	&__date {
		margin-top: 0;
		color: #777;
		display: inline-block;
	}

	a {
		&.excerpt--text-decoration {
			color: #777;

			&:hover {
				text-decoration: none !important;
				color: darken(#AAA, 10%);
			}
		}
	}
}

.post {
	&__featured-image {
		margin-left: -15px;
		margin-right: -15px;
		height: 300px;
	}

	&__featured-image-caption {
		color: #666;
		font-size: .8rem;
		font-weight: lighter;

	}
}

.postlist {

}

@media all and (min-width: 768px) {
	.blog {
		&__featured-image {
			max-width: 300px;
		}
	}
	.post {
		&__featured-image {
			margin-right: initial;
			margin-left: initial;
		}

		&__featured-image-caption {
			text-align: left;
		}
	}
}

.btn-primary {
	color: #fff;
	background-color: #12a6d6;
	border-color: #12a6d6;

	&:hover {
		background-color: darken(#12a6d6, 10%);
		border-color: darken(#12a6d6, 10%);
	}
}

.btn-outline-tags {
	color: #43aa8c;
	border-color: #43aa8c;

	&:hover {
		color: #fff;
		background-color: #43aa8c;
		border-color: #43aa8c;
	}
}

.btn-outline-categories {
	color: #ac0f60;
	border-color: #ac0f60;

	&:hover {
		color: #fff;
		background-color: #ac0f60;
		border-color: #ac0f60;
	}
}

a.blog.post__content.post__content--blue-link {
	color: $owd-blue;

	&:hover {
		color: darken($owd-blue, 10%);
	}
}






